# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================

venv/
.venv/
env/

# ==========================
# VS Code / IDE
# ==========================

.vscode/
.idea/

# ==========================
# Logs
# ==========================

logs/*
!logs/.gitkeep

# ==========================
# Generated Reports
# ==========================

reports/*
!reports/.gitkeep

# ==========================
# Scan Outputs
# ==========================

output/*
!output/.gitkeep

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Misc
# ==========================

*.log
